.main
{
	height: 2500px;
	width: 1400px;
	margin: 0px auto;
	padding: 0;
}
.header
{
	height: 200px;
	width: 1200px;
	margin: 0px auto;
	padding: 0;
}
.logo
{
	height: 100px;
	width: 400px;
	margin: 0px auto;
	padding: 0;
	float: left;
}
.menu {
	float: right;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

.menu ul {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

.menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}

.menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #12212F;
	border: none;
}

.menu a:hover, .menu .current_page_item a {
	text-decoration: blue;
	color: yellow;
	text-decoration-color: red;
}

.menu .current_page_item a {
	background: #132434;
	border-radius: 5px;
}
.slider
{
	height: 800px;
	width: 1200px;
	margin: 0px auto;
	overflow-wrap: hidden;
}
.s1
{
	width: 1400px;
	height: 50px;
	margin: 0px auto;
	background-color: skyblue;
	text-align: center;
	margin-top: -50px;
	font-size: 40px;
	border-radius: 20px 20px 20px 20px;
}
.a1
{
	height: 400px;
	width: 1200px;
	margin:0px auto;
	font-size: 50px;
	text-align: center;
	margin-top: 80px;
}
.contain
{
 	height:1200px;
 	width: 1200px;
 	margin: 0px auto;
 	padding: 0;
}
.con1
{
	height: 600px;
	width: 1200px;
	margin:0px auto;
	padding: 0;
	margin-top: -140px;
}
.c1
{
	height: 400px;
	width: 500px;
	margin:0px auto;
	padding: 0;
	float: left;
}
.c2
{
	height: 400px;
	width: 500px;
	margin:0px auto;
	padding: 0;
	float:left;
	margin-left: 150px;
}
.c1 h2
{
	font-size: 40px;
	text-align: center;
}	
.c2 h2
{
	font-size: 40px;
	text-align: center;
}
.a2
{
	font-family: "Rokkitt", Georgia, serif;
	height: 400px;
	width: 1200px;
	margin:0px auto;
	font-size: 20px;
	text-align: center;
	margin-top: -50px;
	color: rgba(0, 0, 0, 0.3);
}
.con2
{
	height: 400px;
	width: 1400px;
	margin-top: -300px;
	padding: 0;

}
.t1
{
	height: 300px;
	width: 280px;
	margin:0px auto;
	padding: 0;
	float: left;
	margin-left: -100px;
}
.t2
{
	height: 300px;
	width: 280px;
	margin:0px auto;
	padding: 0;
	float: left;
}
.t3
{
	height: 300px;
	width: 280px;
	margin:0px auto;
	padding: 0;
	float: left;
	margin-top:-400px;
	margin-left: 450px;
}
.t4
{
	height: 300px;
	width: 280px;
	margin:0px auto;
	padding: 0;
	float: left;
	margin-top:-580px;
	margin-left: 820px;
}
.t5
{
	height: 300px;
	width: 280px;
	margin:0px auto;
	padding: 0;
	float: right;
	margin-top:-580px;
	margin-right: 
	 
}
.footer
{
	height: 100px;
	width: 1200px;
	margin:0px auto;
	padding: 0;
	background-color:skyblue;
	border-radius: 30px 30px 30px 30px;
}
.f1
{
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: yellow;
}
/*men's*/
.m1
{
	width: 1200px;
	height: 50px;
	margin: 0px auto;
	background-color: grey;
	text-align: center;
	margin-top: -50px;
	color: white;
	font-size: 25px;
	margin-top: -200px;
}
.co1
{
	height: 800px;
	width: 1400px;
	padding: 0;
	margin: 0px auto;
	margin-top: 50px;
}
.o1
{
	float: left;
	width: 400px;
	height: 600px;
	margin-left:50px;
}
.o2
{
	float: left;
	height: 600px;
	width: 400px;
	margin-left: 40px;
}
.o3
{
	float: left;
	height: 600px;
	width: 400px;
	margin-left: 40px
}
.

{
	height: 1000px;
	width: 1300px;
	margin: 0px auto;
	padding: 0;
}
.b1
{
	height:400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b2
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b3
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b4
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}

.b5
{
	height:400px;
	width: 300px;
	float: left;
	
}
.b6
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b7
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b8
{
	height: 400px;
	width: 300px;
	float: left;
	
}

.b9
{
	height:400px;
	width: 300px;
	float: left;
	
}
.b10
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b11
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b12
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.a3
{
	font-family: "Rokkitt", Georgia, serif;
	height: 400px;
	width: 1200px;
	margin:0px auto;
	font-size: 20px;
	text-align: center;
	margin-top: -50px;
	color: rgba(0, 0, 0, 0.3);
}
/*women's*/
.m1
{
	width: 1200px;
	height: 50px;
	margin: 0px auto;
	background-color: grey;
	text-align: center;
	margin-top: -50px;
	color: white;
	font-size: 25px;
	margin-top: -200px;
}
.co1
{
	height: 800px;
	width: 1400px;
	padding: 0;
	margin: 0px auto;
	margin-top: 50px;
}
.o1
{
	float: left;
	width: 400px;
	height: 600px;
	margin-left:50px;
}
.o2
{
	float: left;
	height: 600px;
	width: 400px;
	margin-left: 40px;
}
.o3
{
	float: left;
	height: 600px;
	width: 400px;
	margin-left: 40px
}
.v1

{
	height: 1000px;
	width: 1300px;
	margin: 0px auto;
	padding: 0;
}
.b1
{
	height:400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b2
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b3
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}
.b4
{
	height: 400px;
	width: 300px;
	float: left;
	margin-top: -250px;
}

.b5
{
	height:400px;
	width: 300px;
	float: left;
	
}
.b6
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b7
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b8
{
	height: 400px;
	width: 300px;
	float: left;
	
}

.b9
{
	height:400px;
	width: 300px;
	float: left;
	
}
.b10
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b11
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.b12
{
	height: 400px;
	width: 300px;
	float: left;
	
}
.a3
{
	font-family: "Rokkitt", Georgia, serif;
	height: 400px;
	width: 1200px;
	margin:0px auto;
	font-size: 20px;
	text-align: center;
	margin-top: -50px;
	color: rgba(0, 0, 0, 0.3);
}
/*about*/
.d1
{
	height: 500px;
	width: 1200px;
	margin: 0px auto;
	padding: 0;
}
.e1
{
	height: 500px;
	width: 600px;
	float: left;
}
.e2
{
	height: 500px;
	width: 600px;
	float: right;
}
/*contect*/
.condown
{
	height: 600px;
	width: 1000px;
	margin: 0px auto;
	padding:0;
}
.p1

{
	float: left;
	margin: 0px auto;
	padding: 0;
	margin-top: 100px;

}
.p2
{
	float: right;
	margin-top: -550px;
}

input,type,text
{
	border-radius: 10px 10px 10px 10px;
	height: 30px;
}