.main
{
	height: 1500px;
	width: 1000px;
	border:5px solid;
	margin: 0px auto;
	padding: 0;
}
.header
{
	height: 100px;
	width: 1000px;

	margin: 0px auto;
	padding: 0;
}
.logo
{
	height: 100px;
	width: 300px;
	margin: 0px auto;
	padding: 0;
	float: left;
}
.menu {
	float: left;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

.menu ul {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

.menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}

.menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #12212F;
	border: none;
}

.menu a:hover, .menu .current_page_item a {
	text-decoration: blue;
	color: yellow;
	text-decoration-color: red;
}

.menu .current_page_item a {
	background: #132434;
	border-radius: 5px;
}
.slider
{
	height: 450px;
	width: 1000px;
	background-color: skyblue;
	margin: 0px auto;
	padding: 0;
}
.contain
{
	height: 850px;
	width: 1000px;
	background-color:#777777;
	margin: 0px auto;
	padding: 0;
}
.conup
{
	height: 421px;
	width: 1000px;
	background-color: #1EEE9F;
	margin: 0px auto;
	padding: 0;
}
.c1
{
	height: 421px;
	width: 246px;
	background-color:#096D25;
	border: 2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
.c2
{
	height: 421px;
	width: 246px;
	background-color:#7BB6B3;
	border:2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
.c3
{
	height: 421px;
	width: 246px;
	background-color:#B5698A;
	border:2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
.c4
{
	height: 421px;
	width: 246px;
	background-color:#1EEE9F;
	border:2px solid; 
	margin: 0px auto;
	padding: 0;
	float: left;
}

.condown
{
	height: 421px;
	width: 1000px;
	background-color:#777777;
	margin: 0px auto;
	padding: 0;
}
#c1
{
	height: 421px;
	width: 246px;
	background-color:#B5698A;
	border: 2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
#c2
{
	height: 421px;
	width: 246px;
	background-color:#1EEE9F;
	border:2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
#c3
{
	height: 421px;
	width: 246px;
	background-color:#7BB6B3;
	border:2px solid;
	margin: 0px auto;
	padding: 0;
	float: left;
}
#c4
{
	height: 421px;
	width: 246px;
	background-color:##096D25;
	border:2px solid; 
	margin: 0px auto;
	padding: 0;
	float: left;
}
.footer
{
	height: 100px;
	width: 1000px;
	background-color:#FFD800;
	margin: 0px auto;
	padding: 0;
}
